[Unit]
Description=Set USB charge for LG Gram
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c 'echo "1" | tee /sys/devices/platform/lg-laptop/usb_charge'

[Install]
WantedBy=multi-user.target
