[Unit]
Description=Set Reader mode for LG Gram
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c 'echo "1" | tee /sys/devices/platform/lg-laptop/reader_mode'

[Install]
WantedBy=multi-user.target
