[Unit]
Description=Set Performance Fan mode for LG Gram
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c 'echo "2" | tee /sys/devices/platform/lg-laptop/fan_mode'

[Install]
WantedBy=multi-user.target
